<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlink}}
</head>
<body>
    {{>navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
           <div class="col-md-10 col-12 mx-a">
                <div class="row">
                    <!-- right side div -->
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="images/about2.png" alt="">
                        </figure>
                    </div>
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>welcome to my website</p>
                        <h1>I am a <span class="text_clr">fullstack developer</span> Thank you!!</h1>
                        <a href="/weather"><button>check me</button></a>
                    </div>
                    
                   
                    
                </div>
           </div>
        </div>
    </div>

    <!-- footer section -->
    {{>footer}}

    
</body>
</html>