<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlink}}
</head>
<body>
    {{>navbar}}
    <div class="link-container">
        <a href="https://github.com/sarangi-ankit" target="blank">
            <img class=" img logo" src="https://www.pngkey.com/png/detail/178-1787134_png-file-svg-github-icon-png.png" alt="">
        </a><br />

        <a href="https://www.linkedin.com/in/ankit-sarangi/" target="blank">
            <img class=" img logo1" src="https://www.edigitalagency.com.au/wp-content/uploads/Linkedin-logo-icon-png.png" alt="">
        </a><br />

         <a href="https://auth.geeksforgeeks.org/user/ankitsarangi21/profile" target="blank">
            <img class=" img logo2" src="https://media.geeksforgeeks.org/wp-content/cdn-uploads/gfg_200x200-min.png" alt="">
        </a><br />

        <a href="https://leetcode.com/ankitsarangi21/" target="blank">
            <img class="img logo3" src="https://cdn.cdo.mit.edu/wp-content/uploads/sites/67/2021/01/0_zuhXdNAIUoxEem4-.png" alt="">
        </a><br />
        
            
        
        
        
    </div>
</body>
</html>